%p
  Ha
  %strong> b
  ía una
  %strong> v
  ez un za
  %strong> p
  atero que llegó a ser tan
  = succeed "obre" do
    %strong p
  que,al fin,sólo le quedó el trozo de cuero indis
  %strong> p
  ensa
  %strong> b
  le
  = succeed "ara" do
    %strong p
  fa
  %strong> b
  ricar un
  = succeed "ar" do
    %strong p
  de
  = succeed "otas." do
    %strong b
  Las cortó una noche,
  %strong> p
  ensando tra
  %strong> b
  ajarlas al día siguiente,y se fue a dormir. A la mañana siguiente fue a
  = succeed "uscar" do
    %strong b
  el tra
  %strong> b
  ajo que ha
  %strong> b
  ía
  = succeed "re" do
    %strong p
  = succeed "arado" do
    %strong p
  la
  = succeed "\u{ed}s" do
    %strong b
  = succeed "era" do
    %strong p
  y encontró aca
  %strong> b
  ado el
  = succeed "ar" do
    %strong p
  de
  = succeed "otas." do
    %strong b
  El
  = succeed "o" do
    %strong p
  = succeed "re" do
    %strong b
  hom
  %strong> b
  re no salía de su asom
  %strong> b
  ro:eran
  = succeed "erdaderamente" do
    %strong b
  = succeed "erfectas" do
    %strong p
  y
  = succeed "rimorosas." do
    %strong p
%p
  *oclusivo[p][b]:
  %br/
  za
  %strong> p
  atero,
  = succeed "obre," do
    %strong p
  indis
  %strong> p
  ensable,
  = succeed "ara," do
    %strong p
  = succeed "ar," do
    %strong p
  = succeed "ensando," do
    %strong p
  = succeed "re" do
    %strong p
  = succeed "arado," do
    %strong p
  βís
  %strong> p
  era,
  = succeed "ar," do
    %strong p
  = succeed "obre," do
    %strong p
  hom
  %strong> b
  re, asom
  %strong> b
  ro,
  = succeed "erdaderamente," do
    %strong b
  = succeed "erfectas," do
    %strong p
  = succeed "rimorosas" do
    %strong p
%p
  *fricativo[b]:
  %br/
  ha
  %strong> b
  ía,
  %strong> v
  ez, po
  %strong> b
  re, indispensa
  %strong> b
  le, fa
  %strong> b
  ricar,
  = succeed "otas," do
    %strong b
  tra
  %strong> b
  ajarlas,
  = succeed "uscar," do
    %strong b
  tra
  %strong> b
  ajo, ha
  %strong> b
  ía,
  = succeed "\u{ed}spera," do
    %strong b
  aca
  %strong> b
  ado,
  = succeed "otas," do
    %strong b
  po
  %strong> b
  re
